

body{
    font-family: 'opensans-regular', sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

header{
    height: 100vh;
    overflow: auto;
    color: white;
    border-bottom: solid 1px white;
    background-image: url("../assets/image.jpeg");
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    position: relative;
    text-align: center;
    width: auto;
}

ul#nav li {
    font-size: 15px;
    min-width: 100px;
    padding-top: 10px;
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
    line-height: 18px;
}



#nav-wrap{
    font: 5px bold 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: auto;
    display: inline-block;
}

li > a{
    color: white;
    text-decoration: none;
}

header .banner {
    vertical-align: middle;
    text-align:center;
    margin: 15% auto;
    max-width: 1140px;
    width: 94%;
    padding-top: 100px;

}

.responsive-headline{
    font: 400% 'opensans-bold', sans-serif;
    letter-spacing: -1px;
}

section{
    height: 100%;
}

.section-intro{
    padding-top: 150px;
    text-align: center;
    color: #04dff7;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
}

#about{
    height: 100%;
    padding-bottom: 100px;
}

.intro{
    font-family: 'opensans-bold', sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.intro-title{
    padding: 25px;
    font-size: 3.6rem;
}

.my-image{
    font-size: 3.6rem;
    width: 2.5em;
    height: auto;
    border-radius: 50%;
}

.intro-content{
    font-size: 1em;
    padding: 40px;
}

#contact{
    background-color: #222;
    padding-bottom: 100px;
}

.contact-info{
    display: flex;
    flex-direction: row;
    padding: 30px 7% 30px;
    justify-content: space-between;
}


#projects{
    background-color: #4f0207;
    height: 100%;
}

.col-four a{
    color:#0aa4f1;
    text-decoration: none;
}

.projects-content{
    padding: 50px 20%;
}

ol > li{
    padding-top: 20px;
}








